PORT=3000
HOST=0.0.0.0
NODE_ENV=development
COOKIE_SECRET=replace-with-a-long-random-value

PINGONE_ENABLED=false
PINGONE_ISSUER_BASE_URL=
PINGONE_AUTHORIZE_ENDPOINT=
PINGONE_TOKEN_ENDPOINT=
PINGONE_ENV_ID=
PINGONE_CLIENT_ID=
PINGONE_CLIENT_SECRET=
PINGONE_TOKEN_AUTH_METHOD=auto
PINGONE_REDIRECT_URI=http://localhost:3000/auth/callback
PINGONE_POST_LOGOUT_REDIRECT_URI=http://localhost:3000/login.html?loggedOut=1
PINGONE_END_SESSION_ENDPOINT=
PINGONE_SCOPES=openid profile email
